fastapi
uvicorn
psycopg2-binary
python-dotenv
pydantic
starlette
requests
python-multipart
supabase
bleach
python-magic   # Windows-friendly file type check (use python-magic for Linux)
pandas  # Add this for Excel file handling
openpyxl